<html lang="en">

<%- include('./partials/head.ejs'); %>

<body>
	<h1>Hello world</h1>
	<form method="POST" action="/new">
		<label for="user">Name:</label>
		<input type="text" id="user" name="user" />
		<label for="body">Message:</label>
		<textarea id="body" name="body" ></textarea>
		<button>Send</button>
	</form>
	<div class="messages-container">
		<% if(messages.length) { %>
			<% messages.forEach(message => { %>
				<div class="message">
					<h2 class="username"><%= message.user %></h2>
					<p class="date"><%= message.added %></p>
					<p class="message-body"><%= message.body %></p>
				</div>
			<% }) %>
		<% } else { %>
			<h2 class="no-messages">No messages yet!</h2>
		<% } %>
	</div>
</body>
