/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */
:root {
	--bg-color: #121212;
	--form-border: #28231d;
	--text-primary: #eee;
	--text-secondary: rgba(63, 195, 128, 1);
	--text-tetriary: #999;

	--small-text-size: 12px;
	--normal--text-size: 18px;
	--big-text-size: 26px;
	--biggest-text-size: 32px;
}

/* Globals */
body {
	background-color: var(--bg-color);
	color: var(--text-primary);
	font-family: Karla;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

h1 {
	font-size: var(--biggest-text-size);
	padding-top: 30px;
}

h2 {
	font-size: var(--big-text-size);
}

p,
label {
	font-size: var(--normal--text-size);
}
/* Form */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
}

form input,
form textarea {
	font-size: var(--normal--text-size);
	background-color: var(--bg-color);
	border: 1px solid var(--form-border);
	border-bottom: 1px solid var(--text-secondary);
	border-radius: 5px;
	text-indent: 0.5rem;
	color: var(--text-primary);
}

form textarea {
	resize: none;
	height: 20lvh;
}

form button {
	all: initial;
	cursor: pointer;
	color: var(--bg-color);
	background-color: var(--text-secondary);
	font-family: Karla;
	font-size: var(--normal--text-size);
	font-weight: bold;
	padding: 5px 12px;
	border-radius: 15px;
	text-align: center;
	width: 200px;
	align-self: center;
}
/* Messages */
.messages-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.message {
	border: 2px solid var(--text-secondary);
	padding: 10px;
	width: 600px;
}

.username {
	color: var(--text-secondary);
}

.date {
	color: var(--text-tetriary);
}
